:root {
  --gap: 20px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

body {
  background-image: linear-gradient(
      180deg,
      rgba(252, 249, 249, 0.226),
      rgba(0, 0, 0, 0.658)
    ),
    url(./img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#img {
  position: absolute;
  align-self: center;
  z-index: -1;
}

h1 {
  font-size: 40px;
}

header {
  width: 100%;
  padding: 0 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
}

nav {
  padding: 0 40px;
}

nav ul {
  width: 80%;
  text-align: right;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li::before,
nav ul li::after {
  content: "";
  background: white;
  display: block;
  height: 2px;
  width: 0%;
  margin: auto;
  transition: 0.3s;
}

nav ul li:hover::before,
nav ul li:hover::after {
  width: 100%;
}
/* MAIN */

section {
  margin: 300px auto;
}

@media (max-width: 700px) {
  section {
    margin: 150px auto;
  }
}

main h2 {
  text-align: center;
}

/* Profile */

.profile {
  margin-top: 100px;
  display: flex;
  padding: var(--gap);
  flex-direction: column;
  align-items: center;
}

.profile img {
  padding: var(--gap);
  width: 300px;
  border: 2px solid white;
  border-radius: 8px;
}

.profile h2,
.profile h1 {
  margin: var(--gap);
}

.panel {
  display: flex;
  justify-content: space-around;
}

.interests {
  width: 60%;
  padding: var(--gap);
}

.interests h3 {
  text-align: center;
}

.interests ul {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
}

/* Skills */

.skills h2 {
  text-align: center;
}

.skills-cards {
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  .skills-cards {
    flex-direction: column;
  }
}

.skills .card {
  position: relative;
}

.html {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 60px;
}

.css {
  font-weight: bold;
  position: absolute;
  font-size: 40px;
  top: 45px;
  display: flex;
}
.c {
  color: lightgreen;
  text-shadow: 0 0 10px white;
}

.S {
  color: red;
  text-shadow: 0 0 15px red;
}

.s {
  color: lightblue;
  text-shadow: 0 0 10px white;
}

.js {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 60px;
}

/* Sites */

.sites-cards {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.sites img {
  width: 400px;
  border: 2px solid white;
  border-radius: 8px;
}

.sites img:hover {
  cursor: pointer;
}

/* Contact */

.contact {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.contact h3 {
  margin-top: 20px;
}

.contact i:hover {
  cursor: pointer;
}

/* Social */

.social {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .social {
    flex-direction: column;
  }
}

.card {
  margin: var(--gap) var(--gap);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BIOGRAPHY */

.biography {
  width: 80%;
  max-width: 700px;
  text-align: justify;
}

/* FOOTER */

footer {
  margin-bottom: 50px;
}

footer p {
  font-weight: 100;
  text-align: center;
}

.small {
  color: #3e3e3e;
  font-size: 10px;
}
