* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  margin: 20px 0 0 20px;
  padding: 20px 0 0 20px;
  background-color: lightgray;
  border-radius: 24px;
}

header {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
  text-align: right;
}

nav {
  display: flex;
  align-items: center;
}
